<section>
  <div class="row-lg">
    <!-- PERFIL [INICIO] -->
    <div class="col-lg-4">
      <div class="profile-card profile-lg-card">
        <!-- IMAGEN PFP [INICIO] -->
        <div class="d-none" data-tooltip="tmyt">TheMarceloYT</div>
        <div class="pfp-flip" tooltip-target="tmyt">
          <div class="pfp-inner">
            <div class="pfp-front">
              <img
                class="pfp"
                src="/assets/images/tmyt_pfp.webp"
                alt="TheMarceloYT"
              />
            </div>
            <div class="pfp-back">
              <img
                class="pfp"
                src="/assets/images/tmyt_pfp_suit.webp"
                alt="TheMarceloYT"
              />
            </div>
          </div>
        </div>
        <!-- IMAGEN PFP [INICIO] -->

        <!-- Contenido de la card -->
        <div class="profile-content">
          <h2 class="m-0 p-0">@TheMarceloYT</h2>
          <!-- SOCIAL LINKS [INICIO] -->
          <div class="social-links">
            <!-- YT link [INICIO] -->
            <div class="d-none" data-tooltip="yt">Youtube</div>
            <a
              class="p-0 mx-1"
              href="https://www.youtube.com/@TheMarceloYT"
              tooltip-target="yt"
              target="_blank"
            >
              <img
                class="yt-icon border border-white"
                src="/assets/icons/yt_icon.webp"
                alt="Youtube logo"
              />
            </a>
            <!-- YT link [FIN] -->

            <!-- GITHUB link [INICIO] -->
            <div class="d-none" data-tooltip="github">Github</div>
            <a
              class="p-0 mx-1"
              href="https://github.com/TheMarceloYT"
              tooltip-target="github"
              target="_blank"
            >
              <img
                class="github-icon"
                src="/assets/icons/github_icon.webp"
                alt="Github logo"
              />
            </a>
            <!-- GITHUB link [FIN] -->

            <!-- LINKEDIN link [INICIO] -->
            <div class="d-none" data-tooltip="linkedin">Linkedin</div>
            <a
              class="p-0 mx-1"
              href="https://www.linkedin.com/in/marceloescobarv"
              tooltip-target="linkedin"
              target="_blank"
            >
              <img
                class="linkedin-icon"
                src="/assets/icons/linkedin_icon.webp"
                alt="Linkedin logo"
              />
            </a>
            <!-- LINKEDIN link [FIN] -->

            <!-- TWITCH link [INICIO] -->
            <div class="d-none" data-tooltip="twitch">Twitch</div>
            <a
              class="p-0 mx-1"
              href="https://www.twitch.tv/themarcelotwitch"
              tooltip-target="twitch"
              target="_blank"
            >
              <img
                class="twitch-icon"
                src="/assets/icons/twitch_icon.webp"
                alt="Twitch logo"
              />
            </a>
            <!-- TWITCH link [FIN] -->

            <!-- DISCORD link [INICIO] -->
            <div class="d-none" data-tooltip="discord">Discord</div>
            <a
              class="p-0 mx-1"
              href="https://discord.com/invite/MDnuduJ"
              tooltip-target="discord"
              target="_blank"
            >
              <img
                class="discord-icon"
                src="/assets/icons/discord_icon.webp"
                alt="Discord logo"
              />
            </a>
            <!-- DISCORD link [FIN] -->
          </div>
          <!-- SOCIAL LINKS [FIN] -->
          <p class="mx-4 pd-4" data-lang="langPfpText">...</p>
        </div>
      </div>
    </div>
    <!-- PERFIL [FIN] -->

    <!-- HABILIDADES [INICIO] -->
    <div class="col-lg-8">
      <div class="profile-info profile-lg-info">
        <h2 data-lang="langAboutHabilidades">...</h2>
        <div class="profile-info-data profile-lg-info-data p-2">
          <!-- LISTA HABILIDADES [INICIO] -->
          <ul>
            <li data-lang="langSkillUno">...</li>
            <li data-lang="langSkillDos">...</li>
            <li data-lang="langSkillTres">...</li>
            <li data-lang="langSkillCuatro">...</li>
            <li data-lang="langSkillCinco">...</li>
            <li data-lang="langSkillSeis">...</li>
            <li data-lang="langSkillSiete">...</li>
          </ul>
          <!-- LISTA HABILIDADES [FIN] -->
          <h2 data-lang="langAboutHerramientas">...</h2>
          <!-- LISTA DE HERRAMIENTAS [INICIO] -->
          <div class="row">
            <herramientas class="col">...</herramientas>
          </div>
          <!-- LISTA DE HERRAMIENTAS [FIN] -->
        </div>
      </div>
    </div>
    <!-- HABILIDADES [FIN] -->
  </div>

  <!-- CERTIFICADOS [INICIO] -->
  <div class="profile-info profile-lg-info my-3">
    <h2 data-lang="langAboutCertificados">...</h2>
    <div class="profile-info-data p-2">
      <certificados>...</certificados>
    </div>
  </div>
  <!-- CERTIFICADOS [FIN] -->

  <!-- INFORMACIÓN DETALLADA DE LA WEB [INICIO] -->
  <div class="profile-info profile-lg-info mu-3">
    <h2 data-lang="langAboutInfoWeb">...</h2>
    <div class="profile-info-data p-2">
      <info-web class="row">
        <!-- DESCRIPCIÓN WEB [INICIO] -->
        <div class="col-lg-5">
          <p data-lang="langDescInfoWebUno">...</p>
          <p data-lang="langDescInfoWebDos">...</p>
        </div>
        <!-- DESCRIPCIÓN WEB [FIN] -->

        <!-- PUNTOS WEB [INICIO] -->
        <div class="col-lg-7">
          <ul>
            <li data-lang="langDescUno">...</li>
            <li data-lang="langDescDos">...</li>
            <li data-lang="langDescTres">...</li>
            <li data-lang="langDescCuatro">...</li>
            <li data-lang="langDescCinco">...</li>
            <li data-lang="langDescSeis">...</li>
            <li data-lang="langDescSiete">...</li>
            <li data-lang="langDescOcho">...</li>
            <li data-lang="langDescNueve">...</li>
          </ul>
        </div>
        <!-- PUNTOS WEB [FIN] -->
      </info-web>
    </div>
  </div>
  <!-- INFORMACIÓN DETALLADA DE LA WEB [FIN] -->
</section>
