<section class="profile-info profile-lg-info">
  <!-- CONTACTO [INICIO] -->
  <h2 data-lang="langOpcContact">...</h2>
  <div class="profile-info-data p-3">
    <!-- FORM + FOTO [INICIO] -->
    <div class="row">
      <!-- LEFT SIDE [INICIO] -->
      <div class="col-lg-7">
        <div class="contact-form-container">
          <div class="d-none" data-lang="langContactSwitch">...</div>
          <iframe
            id="contact-form"
            src=""
            frameborder="0"
            marginheight="0"
            marginwidth="0"
            loading="lazy"
          ></iframe>
        </div>
      </div>
      <!-- LEFT SIDE [FIN] -->

      <!-- RIGHT SIDE [INICIO] -->
      <div class="col-lg-5">
        <img
          class="contact-img"
          src="/assets/images/contact_side_logo.webp"
          alt="Side contact image"
        />
      </div>
      <!-- RIGHT SIDE [INICIO] -->
    </div>

    <!-- MÁS OPCIONES [INICIO] -->
    <div class="justify-self-center">
      <h5 data-lang="langMoreOpcContact">...</h5>
      <more-opciones-contact>...</more-opciones-contact>
    </div>
    <!-- MÁS OPCIONES [FIN] -->
  </div>
  <!-- FORM + FOTO [FIN] -->
  <!-- CONTACTO [FIN] -->
</section>
